body {
    padding-top: 40px;
}

.navbar-collapse {
    justify-content: center;
}

.pathway-green {
    background-color: rgb(107, 165, 57)
}

.pathway-purple {
    background-color: rgb(136, 88, 159)
}

.pathway-red {
    background-color: rgb(237, 88, 92)
}

.pathway-orange {
    background-color: rgb(228, 86, 29)
}

.pathway-blue {
    background-color: rgb(10, 160, 164)
}

.pathway-yellow {
    background-color: rgb(251, 204, 41)
}

h3 {
    font-size: 1.35rem;
}

h3 img {
    margin-right: 5px;
}

button a {
    color: #333333;
}

button a:hover {
    color: #111;
}

.container:last-of-type {
    margin-bottom: 200px;
}

img {
    width: 75%;
}

button a {
    padding: 10px;
    font-size: 25px;
}

.card .btn {
    padding: 0;
}

.card img {
    height: 35px;
    width: 35px;
}

.card h4 {
    min-width: 50px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.card h6 {
    font-size: 15px;
}

.card table {
    text-align: Center;
    width: 100%;
    color: white;
}

.smallCard {
    max-width: 75%;
}
